@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-blue-50;
  font-family: 'Inter', sans-serif;
}

.p-popover::before {
  content: '';
  display: none !important;
}

.p-popover::after {
  content: '';
  display: none !important;
}
.health-good {
  @apply text-green-700;
}

.health-standard {
  @apply text-orange-600;
}

.health-bad {
  @apply text-red-700;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
